h1
{
  text-align:center
}
#main
{
  position:relative
}
#fileInput
{
  height:3rem
}
#download
{
  position:absolute;
  right:2%;
  margin-top:2%
}
#clear
{
  margin-left:1%
}

#information
{
  position:absolute;
  top:0;
  right:0;
}
.header{
  overflow: auto;
}
.header img {
  float: right;
  width: 100px;
  height: 100px;
  outline-style: none;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
