.info
{
  font-size: 30px;
  text-align: center;
  width: 70%;
  position: relative;
  margin-left: 15%;
}
.links
{
  font-size: 20px;
}
h1
{
  text-align:center
}
.header{
  overflow: auto;
}
.header img {
  float: right;
  width: 100px;
  height: 100px;
  outline-style: none;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
